$--color-blue: #08A6E4;
$--color-pink: #FB3B64;
$--color-green: #55DFB4;
$--background-grey: #F7F7F7;

@media only screen and (min-width: 1000px) {
    .background {
        left: 0;
        margin-left: -2rem;
        width: 100vw;
    }

    .button--width-full {
        width: auto;
        padding: 0 10rem;
    }

    .card-holder {
        display: flex;
        justify-content: space-around;
        margin: 6rem 0;
    }

    .benefits {

        .card {
            width: 75%;
            margin: 4rem auto;
            height: 25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                width: 40%;
            }

            &--direction-reverse {
                flex-direction: row-reverse;
            }

            &--direction-none {
                display: block;
            }

            .img {
                width: 30%;
                margin: 2rem 0;
            }
        }
    }

    .last-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        width: 75%;
        height: 25rem;
        margin: 4rem auto;
        align-items: center;

        .card {
            width: 60%;
        }

        .wrapper {
            width: calc(40% - 4rem);
        }

        .card,
        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0;
            justify-content: center;
            align-items: start;
        }

        .card p {
            width: 66.6%;
            margin-left: 0;
        }
    }

    .text--state-selected {
        color: black;
        border-bottom: 3px solid $--color-blue;
    }

    .line {
        display: block;
        border: 1px solid black;
        width: 50%;
        height: 2px;
        margin-top: 3rem;

        &--color-pink {
            border-color: $--color-pink;
        }

        &--color-blue {
            border-color: $--color-blue;
        }

        &--color-green {
            border-color: $--color-green;
            width: 33.3%
        }
    }

    .pricing {
        .card-holder {
            width: 100%;
            margin: 4rem auto;
        }

        .text--title-1 {
            margin-top: 4rem;
        }

        .text {
            text-align: center;

            &--margin-small {
                margin-bottom: 1rem;
            }
        }

        .card {
            width: 30%;
            margin: 2rem;

            div {
                display: block;
                margin: 2rem auto;
                height: auto;
                width: 45%;
            }

            &--color-blue:hover {
                box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
                margin: 0;
                width: 35%;
            }

            &--color-pink {
                div:first-of-type {
                    padding-bottom: 0.75rem;
                }

                &:hover {
                    box-shadow: 5px 10px 14px rgba(255, 17, 57, 0.29);
                    margin: 0;
                    width: 35%;
                }
            }

            &--color-green:hover {
                box-shadow: 5px 10px 14px rgba(40, 204, 127, 0.29);
                margin: 0;
                width: 35% !important;
            }
        }

        .button {
            width: 40%;
            margin-top: 5rem;
        }
    }

    .footer {
        padding: 0.5rem 8rem;
    }

    .contact {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 8rem;
        width: 70%;

        div {
            width: 50%;
        }

        form {
            width: 50%;
        }

        .card-holder {
            width: 100%;
            justify-content: start;
            gap: 2rem;
            margin: 0;
            margin-top: 2rem;

            * {
                margin: 0;
            }
        }
    }

    .navBar {
        padding: 0 1rem;

        p {
            margin-top: 0.5rem !important;
        }

        div {
            margin: 0 !important;
        }
    }

    .menu {
        height: 3rem;

        &--platform-mobile {
            display: none !important;
        }

        &--platform-pc {
            display: inline-block !important;
        }

        div {
            display: flex !important;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        a {
            display: inline-block;
            margin: 0 !important;
            width: 20%;
            padding: calc(1rem - 3px) 0;
            vertical-align: center;

            &:active {
                color: black;
                border-bottom: 3px solid $--color-blue;
            }
        }

        width: 45%;
    }

    .popup {
        position: fixed;
        width: 50%;
        left: 25%;
        top: 10rem;
        background-color: white;
        border-radius: 1rem;
        border: 2px solid $--color-blue;
        z-index: 30;
        padding: 4rem;
    }
}