@use 'popup';
@use 'navBar';
@use 'home';
@use 'text';
@use 'button';
@use 'benefits';
@use 'pricing';
@use 'contact';
@use 'other';
@use 'footer';
@use 'slider';
@use 'scroll';

.sec {
    margin-top: 3rem;
}

input[type="text"] {
    display: block;
    margin: 0.5rem 0;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;

    &:focus {
        outline: none;
    }
}
