@import './mobile/popup';
@import './mobile/navBar';
@import './mobile/home';
@import './mobile/text';
@import './mobile/button';
@import './mobile/benefits';
@import './mobile/pricing';
@import './mobile/contact';
@import './mobile/other';
@import './mobile/footer';
@import './mobile/slider';
@import './mobile/scroll';

.sec {
    margin-top: 3rem;
}

input[type="text"] {
    display: block;
    margin: 0.5rem 0;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;

    &:focus {
        outline: none;
    }
}
