$--color-blue: #08A6E4;
$--color-pink: #FB3B64;
$--color-green: #55DFB4;
$--background-grey: #F7F7F7;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

.navBar {
    position: fixed;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0 1rem black;
    width: 100%;
    background-color: white;
    z-index: 10;

    * {
        width: calc(50% - 2px);
        margin: 0 !important;
    }

    div {
        margin-top: 2rem !important;
    }

    a {
        margin-bottom: 1rem !important;
    }

    a:active {
        color: black;
    }

    .menu--platform-pc {
        display: none;
    }
}

.home {
    padding: 0 2rem;
    padding-top: 11rem;
    overflow: hidden;

    .img {
        display: block;
        margin: auto;
        width: 35%;
        margin-bottom: 2rem;
    }
}

.background {
    position: relative;
    width: 250%;
    left: -75%;
    margin: 2rem 0;
}

.text {
    font-family: Raleway;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: auto;
    text-decoration: none;

    &--size-small {
        font-size: 0.75rem;
        margin: 0;
    }

    &--type-bold {
        font-weight: 800;
    }

    &--spaced-1 {
        letter-spacing: 3px;
    }

    &--spaced-2 {
        letter-spacing: 6px;
    }

    &--title-1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &--title-2 {
        font-size: 1.75rem;
    }

    &--logo {
        color: $--color-blue;
        text-align: start;
        font-size: 2rem;
        display: inline-block;
        font-weight: 300;
        margin: 0;
    }

    &--color-blue {
        color: $--color-blue;
    }

    &--color-pink {
        color: $--color-pink;
    }

    &--color-green {
        color: $--color-green;
    }

    &--color-accept {
        color: #00FF00;
        margin: 0;
    }

    &--color-deny {
        color: #ff0000;
        margin: 0;
    }

    &--color-grey {
        color: grey;
    }

    &--align-start {
        text-align: start;
    }

    &--align-end {
        text-align: end;
    }

    &--price {
        font-size: 2.5rem;
        margin: 0;
    }

    &--margin-small {
        margin-bottom: 0.3rem;
    }
}

.button {
    height: 3rem;
    border-radius: 2rem;
    margin: auto;
    display: block;
    border: none;
    font-weight: 700;
    width: 50%;

    &--width-full {
        width: 100%;
        margin-top: 2rem;
    }

    &--color-blue {
        background-color: $--color-blue;
        color: white;
        box-shadow: 0.1rem 0.1rem 0.5rem $--color-blue;
    }

    &--color-pink {
        background-color: $--color-pink;
        color: white;
    }

    &--color-green {
        background-color: $--color-green;
        color: white;
    }
}

.benefits {
    background-color: $--background-grey;
    padding: 2rem;

    .card {
        background-color: white;
        border-radius: 5px;
        border: 1px solid lightgrey;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .card:last-of-type {
        margin-bottom: 0;
    }

    .img {
        display: block;
        margin: 1rem auto;
        width: 75%;
        margin-bottom: 2rem;
        border-radius: 5px;
    }

    .wrapper {
        background-color: $--color-green;
        border-radius: 5px;
        padding: 2rem;
        margin-top: -2.25rem;
        border: 1px solid lightgrey;
    }
}

.pricing {
    .card-holder {
        padding: 2rem;
    }

    .card {
        border: 1px solid black;
        border-radius: 20px;
        padding-top: 2rem;
        width: 100%;

        div {
            display: inline-block;
            height: 100%;
            width: calc(50% - 2px);
            margin: auto;
            vertical-align: middle;


        }

        &--color-blue {
            border-color: $--color-blue;
            box-shadow: 0.1rem 0.1rem 0.5rem $--color-blue;
            margin: 3rem -1rem;
            width: calc(100% + 2rem);
        }

        &--color-pink {
            border-color: $--color-pink;
        }

        &--color-green {
            border-color: $--color-green;
        }
    }

    .button {
        margin-top: 3rem;
        margin-bottom: -1.5rem;
    }
}

.contact {
    padding: 2rem;

    .text--title-1 {
        margin-bottom: 0;
    }

    label {
        display: block;
    }

    input[type="text"],
    input[type="email"] {
        display: block;
        margin: 0.5rem 0;
        border: none;
        border-bottom: 1px solid grey;
        width: 100%;
    }

    .button {
        margin-right: 0;
        margin-top: 1rem;
    }

    input[type="checkbox"] {
        vertical-align: middle;
    }
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: block;
}

.footer {
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0 1rem black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        margin: 0 !important;
    }

    .text--logo {
        font-size: 1.75rem;
    }

    i {
        vertical-align: middle;
        margin: 0 0.25rem !important;
    }
}

@media only screen and (min-width: 1000px) {
    .background {
        left: 0;
        margin-left: -2rem;
        width: 100vw;
    }

    .button--width-full {
        width: auto;
        padding: 0 10rem;
    }

    .card-holder {
        display: flex;
        justify-content: space-around;
        margin: 6rem 0;
    }

    .benefits {

        .card {
            width: 75%;
            margin: 4rem auto;
            height: 25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                width: 40%;
            }

            &--direction-reverse {
                flex-direction: row-reverse;
            }

            &--direction-none {
                display: block;
            }

            .img {
                width: 30%;
                margin: 2rem 0;
            }
        }
    }

    .last-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        width: 75%;
        height: 25rem;
        margin: 4rem auto;
        align-items: center;

        .card {
            width: 60%;
        }

        .wrapper {
            width: calc(40% - 4rem);
        }

        .card,
        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0;
            justify-content: center;
            align-items: start;
        }

        .card p {
            width: 66.6%;
            margin-left: 0;
        }
    }

    .line {
        display: block;
        border: 1px solid black;
        width: 50%;
        height: 2px;
        margin-top: 3rem;

        &--color-pink {
            border-color: $--color-pink;
        }

        &--color-blue {
            border-color: $--color-blue;
        }

        &--color-green {
            border-color: $--color-green;
            width: 33.3%
        }
    }

    .pricing {
        .card-holder {
            width: 75%;
            margin: 4rem auto;
        }

        .text--title-1 {
            margin-top: 4rem;
        }

        .text {
            text-align: center;

            &--margin-small {
                margin-bottom: 1rem;
            }
        }

        .card {
            width: 30%;

            div {
                display: block;
                margin: 2rem auto;
                height: auto;
                width: 45%;
            }

            &--color-blue {
                margin: -2rem 0;

                div:last-of-type {
                    padding-top: 2rem;
                }
            }
        }

        .button {
            width: 40%;

            &--color-pink {
                margin-top: 3.75rem;
                margin-bottom: -2.25rem;
            }

            &--color-blue {
                margin-top: 5rem;
            }
        }
    }

    .footer {
        padding: 0.5rem 8rem;
    }

    .contact {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 8rem;
        width: 60%;

        div {
            width: 40%;
        }

        form {
            width: 50%;
        }
    }

    .navBar {
        padding: 0 1rem;

        p {
            margin-top: 0.5rem !important;
        }

        div {
            margin: 0 !important;
        }
    }

    .menu {
        height: 3rem;

        &--platform-mobile {
            display: none !important;
        }

        &--platform-pc {
            display: inline-block !important;
        }

        div {
            display: flex !important;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        a {
            display: inline-block;
            margin-left: 5%;
            width: 20%;
            padding: calc(1.5rem - 3px) 0;
            vertical-align: center;
        }

        a:active {
            color: black;
            border-bottom: 3px solid $--color-blue;
        }

        width: 45%;
    }
}