$--color-blue: #08A6E4;
$--color-pink: #FB3B64;
$--color-green: #55DFB4;
$--background-grey: #F7F7F7;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    max-width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0 1rem black;

    * {
        margin: 0 !important;
    }
}

.home {
    padding: 0 2rem;
    padding-top: 8rem;
    overflow: hidden;

    .img {
        display: block;
        margin: auto;
        width: 35%;
        margin-bottom: 2rem;
    }
}

.background {
    position: relative;
    width: 250%;
    left: -75%;
    margin: 2rem 0;
}

.text {
    font-family: Raleway;
    color: black;
    text-align: center;
    margin-bottom: 1rem;

    &--type-bold {
        font-weight: 800;
    }

    &--type-light {
        color: grey;
    }

    &--type-spaced {
        letter-spacing: 6px;
    }

    &--title-1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &--title-2 {
        font-size: 1.75rem;
    }

    &--logo {
        color: $--color-blue;
        text-align: start;
        font-size: 2rem;
        display: inline-block;
        font-weight: 300;
    }

    &--color-blue {
        color: $--color-blue;
    }

    &--align-start{
        text-align: start;
    }
}

.button {
    height: 4rem;
    border-radius: 2rem;
    margin: auto;
    border: none;
    font-weight: 700;

    &--width-full {
        width: 100%;
    }

    &--color-blue {
        background-color: $--color-blue;
        color: white;
        box-shadow: 0.1rem 0.1rem 0.5rem $--color-blue;
    }
}

.benefits {
    background-color: $--background-grey;
    padding: 2rem;

    .card {
        background-color: white;
        border-radius: 5px;
        border: 1px solid lightgrey;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .card:last-of-type {
        margin-bottom: 0;
    }

    .img {
        display: block;
        margin: 1rem auto;
        width: 75%;
        margin-bottom: 2rem;
        border-radius: 5px;
    }

    .wrapper {
        background-color: $--color-green;
        border-radius: 5px;
        padding: 2rem;
        margin: -1rem;
        margin-top: 1rem;
    }
}