* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.navBar {
  position: fixed;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0 1rem black;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.navBar * {
  width: calc(50% - 2px);
  margin: 0 !important;
}
.navBar div {
  margin-top: 2rem !important;
}
.navBar a {
  margin-bottom: 1rem !important;
}
.navBar a:active {
  color: black;
}
.navBar .menu--platform-pc {
  display: none;
}
.navBar button {
  margin-left: calc(50% - 3rem) !important;
  width: 2rem;
  height: 2rem;
}

.home {
  padding: 0 2rem;
  padding-top: 11rem;
  overflow: hidden;
}
.home .img {
  display: block;
  margin: auto;
  width: 35%;
  margin-bottom: 2rem;
}

.background {
  position: relative;
  width: 250%;
  left: -75%;
  margin: 2rem 0;
}

.text {
  font-family: Raleway;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: auto;
  text-decoration: none;
  background-color: white;
}
.text--size-small {
  font-size: 0.75rem;
  margin: 0;
}
.text--type-bold {
  font-weight: 800;
}
.text--spaced-1 {
  letter-spacing: 3px;
}
.text--spaced-2 {
  letter-spacing: 6px;
}
.text--title-1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.text--title-2 {
  font-size: 1.75rem;
}
.text--logo {
  color: #08A6E4;
  text-align: start;
  font-size: 2rem;
  display: inline-block;
  font-weight: 300;
  margin: 0;
}
.text--color-blue {
  color: #08A6E4;
}
.text--color-pink {
  color: #FB3B64;
}
.text--color-green {
  color: #55DFB4;
}
.text--color-accept {
  color: #00FF00;
  margin: 0;
}
.text--color-deny {
  color: #ff0000;
  margin: 0;
}
.text--color-grey {
  color: grey;
}
.text--align-start {
  text-align: start;
}
.text--align-end {
  text-align: end;
}
.text--price {
  font-size: 2.5rem;
  margin: 0;
}
.text--margin-small {
  margin-bottom: 0.3rem;
}

.button {
  height: 3rem;
  border-radius: 2rem;
  margin: auto;
  display: block;
  border: none;
  font-weight: 700;
  width: 50%;
}
.button--width-full {
  width: 100%;
  margin-top: 2rem;
}
.button--color-blue {
  background-color: #08A6E4;
  color: white;
  box-shadow: 0.1rem 0.1rem 0.5rem #08A6E4;
}
.button--color-pink {
  background-color: #FB3B64;
  color: white;
}
.button--color-green {
  background-color: #55DFB4;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.benefits {
  background-color: #F7F7F7;
  padding: 2rem;
}
.benefits .card {
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 2rem;
  padding: 1rem;
}
.benefits .card:last-of-type {
  margin-bottom: 0;
}
.benefits .img {
  display: block;
  margin: 1rem auto;
  width: 75%;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.benefits .wrapper {
  background-color: #55DFB4;
  border-radius: 5px;
  padding: 2rem;
  margin-top: -2.25rem;
  border: 1px solid lightgrey;
}

.pricing {
  margin-top: 4rem;
}
.pricing .card-holder {
  padding: 2rem;
}
.pricing .card {
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 2rem;
  width: 100%;
}
.pricing .card div {
  display: inline-block;
  height: 100%;
  width: calc(50% - 2px);
  margin: auto;
  vertical-align: middle;
}
.pricing .card--color-blue {
  border-color: #08A6E4;
  box-shadow: 0.1rem 0.1rem 0.5rem #08A6E4;
  margin: 3rem -1rem;
  width: calc(100% + 2rem);
}
.pricing .card--color-pink {
  border-color: #FB3B64;
}
.pricing .card--color-green {
  border-color: #55DFB4;
}
.pricing .button {
  margin-top: 3rem;
  margin-bottom: -1.5rem;
}

.contact {
  padding: 2rem;
}
.contact .text--title-1 {
  margin-bottom: 0;
}
.contact label {
  display: block;
}
.contact input[type=text],
.contact input[type=email] {
  display: block;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
}
.contact .button {
  margin-right: 0;
  margin-top: 1rem;
}
.contact input[type=checkbox] {
  vertical-align: middle;
}
.contact .table {
  display: table-row;
}
.contact .table * {
  display: table-cell;
}
.contact .table p {
  padding-left: 0.5rem;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.block {
  display: block;
}

.footer {
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0 1rem black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer div {
  margin: 0 !important;
}
.footer .text--logo {
  font-size: 1.75rem;
}
.footer i {
  vertical-align: middle;
  margin: 0 0.25rem !important;
}

@media only screen and (min-width: 1000px) {
  .background {
    left: 0;
    margin-left: -2rem;
    width: 100vw;
  }
  .button--width-full {
    width: auto;
    padding: 0 10rem;
  }
  .card-holder {
    display: flex;
    justify-content: space-around;
    margin: 6rem 0;
  }
  .benefits .card {
    width: 75%;
    margin: 4rem auto;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .benefits .card div {
    width: 40%;
  }
  .benefits .card--direction-reverse {
    flex-direction: row-reverse;
  }
  .benefits .card--direction-none {
    display: block;
  }
  .benefits .card .img {
    width: 30%;
    margin: 2rem 0;
  }
  .last-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    width: 75%;
    height: 25rem;
    margin: 4rem auto;
    align-items: center;
  }
  .last-card .card {
    width: 60%;
  }
  .last-card .wrapper {
    width: calc(40% - 4rem);
  }
  .last-card .card,
  .last-card .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: start;
  }
  .last-card .card p {
    width: 66.6%;
    margin-left: 0;
  }
  .line {
    display: block;
    border: 1px solid black;
    width: 50%;
    height: 2px;
    margin-top: 3rem;
  }
  .line--color-pink {
    border-color: #FB3B64;
  }
  .line--color-blue {
    border-color: #08A6E4;
  }
  .line--color-green {
    border-color: #55DFB4;
    width: 33.3%;
  }
  .pricing .card-holder {
    width: 100%;
    margin: 4rem auto;
  }
  .pricing .text--title-1 {
    margin-top: 4rem;
  }
  .pricing .text {
    text-align: center;
  }
  .pricing .text--margin-small {
    margin-bottom: 1rem;
  }
  .pricing .card {
    width: 30%;
  }
  .pricing .card div {
    display: block;
    margin: 2rem auto;
    height: auto;
    width: 45%;
  }
  .pricing .card--color-blue {
    margin: -2rem 0;
  }
  .pricing .card--color-blue div:last-of-type {
    padding-top: 2rem;
  }
  .pricing .button {
    width: 40%;
  }
  .pricing .button--color-pink {
    margin-top: 3.75rem;
    margin-bottom: -2.25rem;
  }
  .pricing .button--color-blue {
    margin-top: 5rem;
  }
  .footer {
    padding: 0.5rem 8rem;
  }
  .contact {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 8rem;
    width: 70%;
  }
  .contact div {
    width: 50%;
  }
  .contact form {
    width: 50%;
  }
  .contact .card-holder {
    width: 100%;
    justify-content: start;
    gap: 2rem;
    margin: 0;
    margin-top: 4rem;
  }
  .contact .card-holder * {
    margin: 0;
  }
  .navBar {
    padding: 0 1rem;
  }
  .navBar p {
    margin-top: 0.5rem !important;
  }
  .navBar div {
    margin: 0 !important;
  }
  .menu {
    height: 3rem;
    width: 45%;
  }
  .menu--platform-mobile {
    display: none !important;
  }
  .menu--platform-pc {
    display: inline-block !important;
  }
  .menu div {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .menu a {
    display: inline-block;
    margin: 0 !important;
    width: 20%;
    padding: calc(1rem - 3px) 0;
    vertical-align: center;
  }
  .menu a:active {
    color: black;
    border-bottom: 3px solid #08A6E4;
  }
}

/*# sourceMappingURL=styles.css.map */
