.pricing {
    .card-holder {
        width: 100%;
        margin: 4rem auto;
    }

    .text--title-1 {
        margin-top: 4rem;
    }

    .text {
        text-align: center;

        &--margin-small {
            margin-bottom: 1rem;
        }
    }

    .card {
        box-sizing: content-box;
        width: 30%;
        margin: 2rem;

        div {
            display: block;
            margin: 2rem auto;
            height: auto;
            width: 45%;
        }

        &--color-blue:hover {
            box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
            margin: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 30%;
        }

        &--color-pink {
            div:first-of-type {
                padding-bottom: 0.75rem;
            }

            &:hover {
                box-shadow: 5px 10px 14px rgba(255, 17, 57, 0.29);
                width: 30%;
                margin: 0;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        &--color-green:hover {
            box-shadow: 5px 10px 14px rgba(40, 204, 127, 0.29);
            width: 30%;
            margin: 0;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .button {
        width: 40%;
        margin-top: 5rem;
    }
}