$--color-blue: #08A6E4;
$--color-pink: #FB3B64;
$--color-green: #55DFB4;
$--background-grey: #F7F7F7;

.benefits {
    background-color: $--background-grey;
    padding: 4rem 2rem;

    .card {
        background-color: white;
        border-radius: 5px;
        border: 1px solid lightgrey;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .card:last-of-type {
        margin-bottom: 0;
    }

    .img {
        display: block;
        margin: 1rem auto;
        width: 75%;
        margin-bottom: 2rem;
        border-radius: 5px;
    }

    .wrapper {
        background-color: $--color-green;
        border-radius: 5px;
        padding: 2rem;
        margin-top: -2.25rem;
        border: 1px solid lightgrey;
    }
}