.home {
    padding: 0 2rem;
    padding-top: 8rem;
    overflow: hidden;

    .img {
        display: block;
        margin: auto;
        width: 35%;
        margin-bottom: 2rem;
    }
}

.background {
    position: relative;
    width: 250%;
    left: -75%;
    margin: 2rem 0;
}